<?xml version='1.0'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robile_platform_4_wheel_gazebo">

    <!-- Including the xacro file instantiates the robot -->
    <xacro:include filename="$(find robile_description)/robots/robile_platform_4_wheel.urdf.xacro" />

    <!-- Start gazebo ros control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
          <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
          <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>
</robot>
